.reviews {
  width: 100%;
  height: 463px;
  margin: 128px auto;
  overflow: hidden;
  font-family: $font;
}
.reviews__heading {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin: 0;
}
.reviews__heading--yellow {
  color: rgba(253, 146, 34, 1);
}
.reviews__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 200%;
  height: 285px;
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(0);
}
.reviews__item {
  width: 360px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid rgba(240, 214, 214, 0.1);
  background: $font-color;
  box-shadow: 0px 9px 26px 0px rgba(215, 228, 249, 0.25);
  position: relative;
  z-index: -1;
  flex-basis: calc(16.66% - 28px);
  margin-top: 90px;
}
.reviews__item-img {
  max-width: 100%;
  transform: translate(140px, -40px);
  position: absolute;
  border-radius: 50%;
}
.reviews__item-heading {
  text-align: center;
  margin-top: 56px;
}
.reviews__item-paragraph {
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  margin: 24px 24px 42px 24px;
}
.reviews__points {
  display: flex;
  justify-content: center;
  margin: 32px 0 0 0;
  padding: 0;
  gap: 13px;
  list-style: none;
  &:hover,
  :focus{
    cursor: pointer;
  }
}
.reviews__point {
  width: 13px;
  height: 13px;
  background-color: rgba(17, 17, 17, 0.1);
  border-radius: 50%;
}
.reviews__point.active {
  width: 28px;
  background-color: rgb(253, 146, 34);
  border-radius: 40%;
}
.reviews__button {
  display: flex;
  width: 222px;
  height: 50px;
  padding: 14px 40px;
  margin: 50px auto;
  border-radius: 100px;
  border: 1px solid rgb(253, 146, 34);
  color: rgb(17, 17, 17);
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}
.reviews__button:hover,
.reviews__button:focus {
  background-color: rgba(253, 146, 34, 1);
  color: rgba(255, 255, 255, 1);
  outline: none;
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transform: scale(1);
}
.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transform: scale(-1);
}
.modal-reviews {
  width: 517px;
  height: 628px;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 10%;
}
.form-reviews__button-close {
  position: absolute;
  right: 24px;
  top: 24px;
  border: none;
  background: transparent;
}
.form-reviews__button-close:hover,
.form-reviews__button-close:focus {
  fill: rgba(253, 146, 34, 1);
}

.x-svg {
  width: 28px;
  height: 28px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.form-reviews__heading {
  color: rgba(17, 17, 17, 1);
  width: 298px;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin: 50px 179px 0 40px;
}
.form-reviews__heading--yellow {
  color: rgba(253, 146, 34, 1);
}
.form-reviews__input-name {
  display: inline-flex;
  width: 437px;
  height: 66px;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.1);
  outline: none;
  box-sizing: border-box;
  margin: 40px 40px 0 40px;
}
.form-reviews__input-email {
  display: inline-flex;
  width: 437px;
  height: 66px;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.1);
  outline: none;
  box-sizing: border-box;
  margin: 18px 40px 0 40px;
}
.form-reviews__select-phone {
  width: 125px;
  height: 66px;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.1);
  outline: none;
  box-sizing: border-box;
  margin: 18px 0 0 40px;
}
.form-reviews__input-phone {
  width: 312px;
  height: 66px;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.1);
  outline: none;
  box-sizing: border-box;
  position: fixed;
  margin: 18px 40px 0 0;
}
.form-reviews__area-comment {
  display: flex;
  width: 437px;
  height: 137px;
  padding: 22px 24px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.1);
  outline: none;
  box-sizing: border-box;
  resize: none;
  margin: 18px 40px 0 40px;
}
.form-reviews__button-send {
  display: flex;
  width: 133px;
  height: 45px;
  margin: 18px auto 40px 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: none;
  background: rgba(253, 146, 34, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

//tabletas
@media (max-width: 768px) {
  .reviews__items {
    width: 300%;
  }
  .reviews__item {
    width: 100%;
  }
  .modal-reviews {
    width: 517px;
    height: 628px;
  }
  .x-svg {
    width: 24px;
    height: 24px;
  }
  .form-reviews__button-close {
    width: 20px;
    height: 20px;
    top: 14px;
  }
  .form-reviews__heading {
    width: 255px;
    margin: 32px 32px 32px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
  }
  .form-reviews {
    width: 100%;
  }
  .form-reviews__input-name {
    width: 437px;
    height: 66px;
    margin: 0 24px 14px 24px;
  }
  .form-reviews__input-email {
    width: 437px;
    height: 66px;
    margin: 0 24px 14px 24px;
  }
  .form-reviews__select-phone {
    width: 146px;
    height: 66px;
    margin: 0 0 14px 24px;
  }
  .form-reviews__input-phone {
    width: 291px;
    height: 66px;
    margin: 0 24px 14px 0;
  }
  .form-reviews__area-comment {
    width: 437px;
    height: 137px;
    margin: 4px 24px 18px 24px;
  }
  .form-reviews__button-send {
    width: 117px;
    height: 45px;
    margin: 0 194px 32px 24px;
  }
}
//telefonos
@media (max-width: 375px) {
  .reviews {
    margin: 64px auto 0;
  }
  .reviews__heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
    margin: 0 auto;
  }
  .reviews__items {
    width: 600%;
  }
  .reviews__item {
    width: 100%;
  }
  .modal-reviews {
    width: 311px;
    height: 471px;
  }
  .x-svg {
    width: 24px;
    height: 24px;
  }
  .form-reviews__button-close {
    width: 20px;
    height: 20px;
    top: 14px;
  }
  .form-reviews__heading {
    width: 255px;
    margin: 32px 32px 32px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.6px;
  }
  .form-reviews {
    width: 100%;
  }
  .form-reviews__input-name {
    width: 263px;
    height: 45px;
    margin: 0 24px 14px 24px;
  }
  .form-reviews__input-email {
    width: 263px;
    height: 45px;
    margin: 0 24px 14px 24px;
  }
  .form-reviews__select-phone {
    width: 87px;
    height: 45px;
    margin: 0 0 14px 24px;
  }
  .form-reviews__input-phone {
    width: 176px;
    height: 45px;
    margin: 0 24px 14px 0;
  }
  .form-reviews__area-comment {
    width: 263px;
    height: 90px;
    margin: 4px 24px 18px 24px;
  }
  .form-reviews__button-send {
    width: 93px;
    height: 41px;
    margin: 0 194px 32px 24px;
  }
}
