<footer class="footer">
    <div class="footer__top-section">
        <div class="footer__title">
            <h3 class="footer__title-text"><span class="first-word">Chocolate</span> is a delicius cure for a bad day</h3>
        </div>
        <div class="footer__contacts">
            <div class="contacts">
                <p class="contacts__title">Contact us</p>
                <ul class="contacts__list">
                    <li>
                        <a class="contacts__email" href="tel:+380 (68)443-94-26">
                            +380 (68)443-94-26</a>
                    </li>
                    <li>
                        <a class="contacts__phone" href="mailto:simplychoc@gmail.com">
                            simplychoc@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="contacts__icons">
                <svg class="contacts__icons--instagram">
                    <use href="../src/images/Footer-images/symbol-defs.svg#icon-instagram"></use>
                </svg>
                <svg class="contacts__icons--twitter">
                    <use href="../src/images/Footer-images/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="footer__low-section">
        <ul class="footer-list">
            <li href="#" class="footer-list__link">Home</li>
            <li href="#" class="footer-list__link">How it's made?</li>
            <li href="#" class="footer-list__link">Our products</li>
            <li href="#" class="footer-list__link">Top sellers</li>
            <li href="#" class="footer-list__link">Chocolate is loved</li>
        </ul>
    </div>
</footer>
