<header class="header">
  <div class="container containe-nav">
    <nav class="nav__bar">
      <a class="icon tdec" href="index.html">SIMPLY CHOCOLATE</a>
      <svg class="chocolate" width="24" height="24">
        <use href="./imagenes/svg/symbol-defs.svg#iconsTargetchocolate"></use>
      </svg>
      <ul class="nav__list lstyle m0">
        <li class="nav__item">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Top sellers</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Chocolate is loved</a>
        </li>
      </ul>
      <ul class="social__icon__list">
        <li class="social__icon__item">
          <a class="social__icon__link" href="#">
            <svg class="social__icon-svg" width="24" height="24">
              <use href="imagenes/svg/symbol-defs.svg#iconsinstagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__icon__item">
          <a class="social__icon__link" href="#">
            <svg class="social__icon-svg" width="24" height="24">
              <use href="imagenes/svg/symbol-defs.svg#iconsTargetwitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<section class="hero__section">
  <div class="container">
    <ul class="hero__list m0 p0">
      <p class="hero__text m0">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </p>
      <ul class="hero__list__button relative p0">
        <li class="hero__item lstyle">
          <button class="hero__button" type="button">Buy now</button>
          <button class="hero__button" type="button">How it’s made</button>
        </li>
        <ul class="hero__list__scroll p0">
          <li class="hero__item__scroll lstyle">
            <p class="text__scroll m0">scroll down</p>
          </li>
          <li class="hero__item__scroll lstyle">
            <a class="hero__link__scroll" href="#">
              <svg class="hero__scroll-icon" width="12" height="13">
                <use
                  href="imagenes/svg/symbol-defs.svg#iconsTargetVector"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </ul>
    </ul>
  </div>
</section>
