<section class="section">
  <div class="recipe container">
    <h2 class="recipe__title-name">HOW IT’S <span class="recipe__title-full">MADE?</span></h2>
    <div class="recipe__block">
      <div class="recipe__media">
        <svg class="recipe__play"><use href="../src/images/recipe-images/recipe-icon.svg#icon-play.svg"></use></svg>
        <img src="../src/images/recipe-images/recipe.png" alt="Video" class="recipe__video" />
      </div>
      <div class="recipe__text">
        <h3 class="recipe__commit">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="recipe__steps">
          <li class="recipe__steps__element">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa
            powder.
          </li>
          <li class="recipe__steps__element">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="recipe__steps__element">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone
            spatula so that the mass becomes uniform and silky.
          </li>
          <li class="recipe__steps__element">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="recipe__steps__element">
            Pour the chocolate into special containers (can be replaced with ice molds). Allow
            to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>