<section class="reviews">
  <h1 class="reviews__heading">
    <span class="reviews__heading--yellow">chocolate</span> is loved
  </h1>
  <ul class="reviews__items">
    <li class="reviews__item">
      <img
        class="reviews__item-img"
        src="/src/images/reviews-images/user-victoria.jpg"
        alt="picture-user"
        width="80"
        height="80"
      />
      <h2 class="reviews__item-heading">Victoria Dobrzhanska</h2>
      <p class="reviews__item-paragraph">
        I love this chocolate bar. Perfect combination of light crispy wafer,
        covered in a thin layer chocolate.
      </p>
    </li>
    <li class="reviews__item">
      <img
        class="reviews__item-img"
        src="/src/images/reviews-images/user-nazar.jpg"
        alt="picture-user"
        width="80"
        height="80"
      />
      <h2 class="reviews__item-heading">Nazar Babenko</h2>
      <p class="reviews__item-paragraph">
        This chocolate confection is a delight! A delight! The wafer is light
        and crisp, the hazelnut cream is smooth, and the chocolate is good.
      </p>
    </li>
    <li class="reviews__item">
      <img
        class="reviews__item-img"
        src="/src/images/reviews-images/user-olena.jpg"
        alt="picture-user"
        width="80"
        height="80"
      />
      <h2 class="reviews__item-heading">Olena Kampusch</h2>
      <p class="reviews__item-paragraph">
        Chocolate is a family favourite treat. Love the delicious smooth
        chocolate and the creaminess inside. The wafer is soft but crunchy.
      </p>
    </li>
    <li class="reviews__item">
      <img
        class="reviews__item-img"
        src="/src/images/reviews-images/user-natalia.jpg"
        alt="picture-user"
        width="80"
        height="80"
      />
      <h2 class="reviews__item-heading">Natalia Sus</h2>
      <p class="reviews__item-paragraph">
        The chocolate assortment was delicious. Both dark and milk chocolate
        pieces were smooth and just right on the sweetness level..
      </p>
    </li>
    <li class="reviews__item">
      <img
        class="reviews__item-img"
        src="/src/images/reviews-images/user-danilo.jpg"
        alt="picture-user"
        width="80"
        height="80"
      />
      <h2 class="reviews__item-heading">Danilo Nottingham</h2>
      <p class="reviews__item-paragraph">
        This is delicious. It so rich and flavorful you don’t need to use as
        many. I love topping an apple with almond butter and these chips for a
        snack.
      </p>
    </li>
    <li class="reviews__item">
      <img
        class="reviews__item-img"
        src="/src/images/reviews-images/user-irina.jpg"
        alt="picture-user"
        width="80"
        height="80"
      />
      <h2 class="reviews__item-heading">Irina Tydnyuk</h2>
      <p class="reviews__item-paragraph">
        This is simply the best chocolate around, and I'm just thrilled to
        support a local company! Best local chocolate - world class
      </p>
    </li>
  </ul>
  <ul class="reviews__points">
    <li class="reviews__point active"></li>
    <li class="reviews__point"></li>
    <li class="reviews__point"></li>
    <li class="reviews__point"></li>
  </ul>
  <button data-modal-open-2 class="reviews__button" type="button">
    Leave a review
  </button>
</section>
<div id="form-reviews" class="backdrop is-hidden" data-modal-2>
  <div class="modal-reviews">
    <div id="form-reviews__button">
      <button class="form-reviews__button-close" data-modal-close-2>
        <svg class="x-svg">
          <use href="/src/images/reviews/svg/x-close.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="form-reviews__heading">
        leave a review about
        <span class="form-reviews__heading--yellow">our chocolate</span>
      </h2>
    </div>
    <form action="" name="form-reviews">
      <input
        class="form-reviews__input-name"
        id="personal-information"
        type="text"
        placeholder="Name"
      />

      <input
        id="email"
        class="form-reviews__input-email"
        type="text"
        placeholder="Email"
      />

      <select name="country" id="country" class="form-reviews__select-phone">
        <option value="mexico">+55</option>
        <option value="colombia">+57</option>
        <option value="ukraine">+380</option>
      </select>
      <input
        id="phone"
        class="form-reviews__input-phone"
        type="tel"
        placeholder="Phone number"
      />
      <textarea
        class="form-reviews__area-comment"
        name="comment"
        id="comment"
        cols="30"
        rows="10"
        placeholder="Enter text"
      ></textarea>
      <button class="form-reviews__button-send" type="submit">Send</button>
    </form>
  </div>
</div>
<script src="/src/carousel.js"></script>
<script src="/src/modal2.js"></script>
