<section class="top-sellers container">
  <h2 class="top-sellers__heading">
    <span class="top-sellers__heading--yellow">Top</span> Sellers
  </h2>
  <ul class="top-sellers__items">
    <li class="top-sellers__item">
      <img
        class="top-sellers-img"
        src="./images/section-top-sellers/nuts.jpg"
        alt="bar chocolate, cocoa beans and nuts"
        width="368"
        height="464"
      />
    </li>
    <li class="top-sellers__item">
      <img
        class="top-sellers-img"
        src="./images/section-top-sellers/milk-chocolate.jpg"
        alt="light chocolate bar"
        width="368"
        height="464"
      />
    </li>
    <li class="top-sellers__item">
      <img
        class="top-sellers-img"
        src="./images/section-top-sellers/dark-chocolate.jpg"
        alt="dark chocolate bar"
        width="368"
        height="464"
      />
    </li>
  </ul>
  <div class="buy">
    <p class="top-sellers__paragraph">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button data-modal-open class="top-sellers__button" type="button">
      Buy now
    </button>
  </div>
</section>
<div id="form-buy" class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div id="form-buy__button">
      <button class="button-close" data-modal-close>
        <svg class="x-svg">
          <use
            href="/src/images/section-top-sellers/svg/x-close.svg#icon-close"
          ></use>
        </svg>
      </button>
    </div>
    <form action="" name="form-buy">
      <h2 class="form-buy__heading">
        <span class="form-buy__heading--yellow">buy</span> now
      </h2>
      <div class="products">
        <ul class="products__items">
          <li class="products__item">
            <img
              src="/src/images/section-top-sellers/section-buy-now/dark-chocolate-100g.jpg"
              alt="bar of chocolate 100g"
              width="102"
              height="107"
            />
            <button class="products__price">100 g</button>
          </li>
          <li class="products__item">
            <img
              src="/src/images/section-top-sellers/section-buy-now/b-w-bar-chocolate-200g.jpg"
              alt="bar of chocolate 200g"
              width="102"
              height="107"
            />
            <button class="products__price">200 g</button>
          </li>
          <li class="products__item">
            <img
              src="/src/images/section-top-sellers/section-buy-now/dark-chocolate-bar-300g.jpg"
              alt="bar of chocolate 300g"
              width="102"
              height="107"
            />
            <button class="products__price">300 g</button>
          </li>
        </ul>
        <label class="form-buy__label-name" for="personal-information"
          >Personal information</label
        >
        <input
          class="form-buy__input-name"
          id="personal-information"
          type="text"
          placeholder="Name"
        />
        <input
          class="form-buy__input-name"
          id="personal-information"
          type="text"
          placeholder="Surname"
        />
        <label class="form-buy__label-email" for="email">Email</label>
        <input
          id="email"
          class="form-buy__input-email"
          type="text"
          placeholder="Enter your email"
        />
        <label class="form-buy__label-phone" for="phone">Phone number</label>
        <select name="country" id="country" class="form-buy__select-phone">
          <option value="mexico">+55</option>
          <option value="colombia">+57</option>
          <option value="ukraine">+380</option>
        </select>
        <input
          id="phone"
          class="form-buy__input-phone"
          type="tel"
          placeholder="Phone number"
        />
        <label class="form-buy__label-card" for="card">Card number</label>
        <div>
          <input
            id="card"
            type="text"
            class="form-buy__input-card"
            placeholder="Enter card"
          />
          <svg class="icon-card">
            <a href=""></a>
            <use
              class="form-buy__input-card"
              href="/src/images/section-top-sellers/svg/mastercard.svg#icon-Mastercard"
            ></use>
          </svg>
        </div>
        <label class="form-buy__label-comment" for="comment">Comment</label>
        <textarea
          class="form-buy__area-comment"
          name="comment"
          id="comment"
          cols="30"
          rows="10"
          placeholder="Enter text"
        ></textarea>
        <button class="form-buy__button-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<script src="/src/modal.js"></script>
